@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

html,
body {
  font-size: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

* {
  font-family: "Lato", sans-serif;
  color: #222222; }

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px 0 10px; }

.header {
  min-height: 100px;
  background-color: #f8f3f4; }
  .header .header__wrap {
    min-height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center; }
    .header .header__wrap a {
      font-size: 52px;
      font-weight: bold;
      flex-grow: 1; }
    .header .header__wrap .header__form .header__input {
      background-color: #f8f3f4;
      border-bottom: 2px solid #a9a9a9;
      border-left: 2px solid #a9a9a9;
      padding: 2px 5px 2px 5px;
      border-radius: 0 0 0 5px;
      font-size: 24px;
      color: #a9a9a9; }
    .header .header__wrap .header__form .header__btn-search {
      background-color: #f8f3f4; }
      .header .header__wrap .header__form .header__btn-search i {
        font-size: 24px;
        margin: 0 20px 0 10px;
        color: #a9a9a9; }
    .header .header__wrap .header__cart {
      background-color: #f8f3f4;
      height: inherit;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 40px; }
      .header .header__wrap .header__cart i {
        font-size: 24px;
        margin-right: 10px; }
      .header .header__wrap .header__cart .header__btn-cart {
        background-color: #f8f3f4;
        font-size: 24px;
        position: relative; }

/*_____Стили корзины_____ */
.header__basket-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 73px;
  right: 50px;
  border: 2px solid #e8e8e8; }
  .header__basket-container .header__basket-empty {
    background-color: #ffffff;
    padding: 10px 20px 10px 20px; }
  .header__basket-container .header__basket-item {
    height: 80px;
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff; }
    .header__basket-container .header__basket-item:not(:last-child) {
      border-bottom: 2px solid #e8e8e8; }
    .header__basket-container .header__basket-item .header__item-img {
      display: flex;
      align-items: center; }
      .header__basket-container .header__basket-item .header__item-img img {
        height: 70px;
        width: 70px;
        border-radius: 10px; }
    .header__basket-container .header__basket-item .header__item-info {
      height: inherit;
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .header__basket-container .header__basket-item .header__item-totalPrice {
      display: flex; }
    .header__basket-container .header__basket-item .header__btn-del {
      cursor: pointer;
      display: flex; }

/*________________________ */
.main .main__items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap; }
  .main .main__items .main__item {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main .main__items .main__item img {
      height: 224px;
      width: 204px; }
    .main .main__items .main__item .main__item-name {
      font-size: 20px;
      font-weight: 600;
      margin-top: 7px; }
    .main .main__items .main__item .main__item-price {
      font-size: 18px;
      font-weight: 600;
      margin-top: 10px; }
    .main .main__items .main__item .main__item-btn {
      margin-top: 8px;
      font-family: "Lato", sans-serif;
      font-size: 18px;
      background-color: #ffffff;
      border: 2px solid #e8e8e8;
      padding: 2px 5px 2px 5px;
      border-radius: 5px; }
    .main .main__items .main__item:not(:last-child) {
      margin-bottom: 10px; }

/*# sourceMappingURL=style.css.map */
